@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #FF69B4;
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    nav {
        width: 40%;

        a {
            color: white;
        }
    }
}

.containerLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    color: white;

    li {
        padding: 15px;
        border-radius: 5px;
    }
}

li:hover {
    background-color: #d43585;
}

#containerSobre {
    height: 100vh;
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 365px;
        height: 355px;
    }

    p {
        color: black;
        width: 587px;
        height: 265px;
        font-size: 25px;
    }
    
}

#containerConscientizacao {
    height: 100vh;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 421px;
        height: 234px;
    }

    p {
        color: white;
        width: 648px;
        height: 174px;
        font-size: 25px;
    }
}

#containerDicas {
    height: 100vh;
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 250px;
        height: 250px;
        transition: 0.3s;
        
    }

    img:hover {
        transform: scale(1.05);
    }
}


footer {
    height: 20vh;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    #lacoRosa {
        width: 105px;
        height: 109px;
        transform: scale(1.1);
        animation: rotate 6s linear infinite;
    }
}

.redesSociais {
    img {
        width: 57.84px;
        height: 56px;
    }

    img:hover {
        filter: drop-shadow(0px 0px 5px #d43585);
    }
}

.dadosSite {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        width: 100%px;
        height: 27px;
        font-size: 20px;
        color: white;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}